* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.forgot-password-container {

    height: 100vh;
    width: 100vw;
    background-color: rgb(9, 85, 42);
    display: flex;
    justify-content: center;
    align-items: center;
 text-align: center;

    
}


.forgot-password-container form {
    height: 40%;
    width: 30%;

    border: 1px solid black;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
    
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

 .login-container.height {
    margin-bottom: 10px;
}

 .login-container input {
   height:4vh;
    width: 70%;
 
}

 .login-container button {
    color: white;
  font-size: 1rem;
    height:4vh;
    width: 70%;
    background-color: rgb(9, 85, 42);
    outline: 0;
    border: 0;
    border-radius: 5px;
    outline: 0;
    border: 0;
    
}
 .login-container .text{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
